<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jjb.jjbzentao.dao.ProjectDao">

    <sql id="allColumns">
        t.`id`,
        t.`name`,
        t.`code`,
        t.`status`,
        t.`end`,
        t.`begin`,
        t.`team`
    </sql>


    <select id="list" resultType="com.jjb.jjbzentao.pojo.Project">
        SELECT
        <include refid="allColumns"/>,z.realname as po
        FROM zentao.zt_project t
        LEFT JOIN zentao.zt_user z on t.PO=z.account
        <include refid="keySearch"/>
        order by t.begin DESC
    </select>


    <!--关键字搜索-->
    <sql id="keySearch">
        <where>
            <if test="p.name != null and p.name!=''">
                AND t.name = #{p.name}
            </if>
            <if test="p.status != null and p.status!=''">
                AND t.status = #{p.status}
            </if>
            <if test="p.begin != null ">
                AND  DATE_FORMAT(t.begin,'%Y%m%d') &gt;=DATE_FORMAT(#{p.begin},'%Y%m%d')
            </if>
            <if test="p.end != null ">
                AND  DATE_FORMAT(t.end,'%Y%m%d') &lt;=DATE_FORMAT(#{p.end},'%Y%m%d')
            </if>
            AND t.deleted ='0' AND t.status IN ('doing','wait')
        </where>
    </sql>

    <sql id="allColumnsByTask">
        t.`id`,
        t.`name`,
        t.`project`,
        t.`status`,
        t.`consumed`,
        t.`left`
    </sql>
    <select id="qryTasks" resultType="com.jjb.jjbzentao.pojo.Task">
        SELECT
        <include refid="allColumnsByTask"/>
        FROM zentao.zt_task t
        WHERE t.project IN
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        AND t.deleted='0'
    </select>

    <select id="qryTeamName" resultType="com.jjb.jjbzentao.pojo.Team">
        SELECT z.realname,z2.root
        FROM zentao.zt_user z ,zentao.zt_team z2
        WHERE z.account=z2.account
          AND z2.type='project'
        AND z2.root IN
        <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>